{% extends "layout.njk" %}

{% block head %}
    <title>Foodfy - Receitas</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="cards-index">
        
</div>
<div class="footer">
    <p>Todos os direitos reservados, receitas Foodfy.</p>
</div>

<script src="/script.js"></script>

{% endblock%}